.imgGrid{
  height: 100%;
  overflow: hidden;
  overflow-y: scroll;
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  gap: 0.25rem;
  justify-content: center;
  place-items: center;
}

.imgGrid__img{
  width: min-content;
  height: min-content;
  max-width: 300px;
  max-height: 400px;
  border-radius: 10px;
  pointer-events: none;
  object-fit: contain;
}